

*
    margin: 0
    padding: 0
    box-sizing: border-box

.container
    padding: 40px 50px

.topo
    display: flex
    flex-wrap: wrap
    justify-content: space-between

.topo p
    width: 439px


/*Container Imagens*/
.img
    max-width: 100%

.container-imagens
    display: flex
    flex-wrap: wrap
    margin-top: 50px
    justify-content: space-between

.img-um 
    width: 238px
    height: 426px

.img-dois
    width: 305px
    height: 471px
    position: relative
    top: 96px

.img-tres
    width: 300px
    height: 399px

.img-quatro
    width: 276px
    height: 469px

.img-cinco
    position: relative
    top: 150px
    width: 274px
    height: 360px

.img-seis
    width: 335px
    height: 449px

.footer
    margin-top: 100px
    margin-bottom: 50px
    text-align: center

/*Mobile*/
@media screen and(max-width: 547px)
    .img-um
        width: 138px
        height: 261px

    .img-dois
        width: 177px
        height: 283px

    .img-tres
        width: 175px
        height: 257px

    .img-quatro
        width: 162px
        height: 303px

    .img-cinco
        width: 160px
        height: 234px

    .img-seis
        width: 197px
        height: 289px

/*Responsive, Tablet*/
@media screen and (max-width: 768px)
    .container
        border: 2px solid red